@model List<TodoApp.Models.TodoItem>


K@*iegészíttetük a View definicióját, hogy képes legyen List<string> típusu adatot fogadni
    mintha  aviev egy fügvény  lenne és azt mondanánk ,
     hogy View(List<steing> Model)
     vagy TodoList<List<string>Model*@


@{
    ViewBag.Title = "TodoList";
}

<h2>Bevásárló lista</h2>


@*Kiolvasom a ViewBag-be tárolt információt itt nézetben*@
@*A megoldás, hogy egy ciklussal kiolvassuk a listából az adatokat és úgy irjuk a HTML*@

<ol>
    @foreach (var todoItem in Model)
    {

        if (todoItem.Done)
        {
            <li><strike>@todoItem.Name</strike> </li>
        }
        else
        {
            <li>@todoItem.Name </li>
        }
    }



</ol>

@*Mindkét két megoldás ugyan oda visz, a második a beépített ASP.NET
    szolgáltatás, nem kell megadni a Controller, mert tudja hol vagyunk*@ 

<a href="/Todo/Create">Új felvittel</a>
@Html.ActionLink("Új felvitele", "Create")
